body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #000;

  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;

}


.feature-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .features-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    justify-content: center;
    align-items: center;
  }
}


@media only screen and (min-width: 1200px) {
  .container .features-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2rem 0px;
}

}