.header_container {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 15px 17px;
}

.header_container a {
  text-decoration: none;
  color: #ffff;
  font-size: 12px;
}